@tailwind base;
@tailwind components;
@tailwind utilities;




.golfimg {
    background-image: url(images/golf1.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

option {
    cursor:pointer;
}

select {
    width: 33%;
    cursor:pointer
}

input {
    background-color: azure;
    width: 60%;
    height: 10%;
    font-weight: 800;
    text-decoration: none;
    cursor:pointer;
    transition:all 0.3s; /* Add a transition for a smooth effect on the transform property */
}

input:hover,
input:focus {
    transform: scale(1.2); 
    
    /* Scal
    e the input element to 1.2 times its original size */
}

#spreadSheet {
    cursor: pointer;
    transition: 0.3s;
}

#spreadSheet:hover {
    transform: scale(1.2)
}

td {
    border-width: 0.1rem;
    border-color: black;
}

tr {
    border-width: 0.1rem;
    border-color: black;
}


